/* 导航菜单 */
ul.nav-bar-profile{
    list-style: none;
    padding: 0;
}
#nav li, #nav li a{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    color:black;
}

#nav li a:hover{
    background: none;
}

#nav{
    background: none;
}

#nav .active{
    background: none;
}

.toggle-btn{
    display: none;
}

/* 图片响应式设置 */

.img{
    max-width: 100%;
    height:auto
}
@media(max-width:767px){
    #body{
        width: 100%;
        float:none;
    }

    #header{
        font-size: 12px;
        text-align: left;
        padding-left:10px;
        height: 100%;
    }

    /* 切换导航栏按钮 */
    .toggle-btn{
        display: inline-block;
        font-size: 25px;
        text-decoration: none;
        background: white;
        color: black;
        padding: 5px 5px;
        position: absolute;
        right:10px;
        top:10px;
    }

    /* 隐藏关闭按钮 */
    #nav .close{
        display: none;
    }

    /* 导航为目标状态时显示关闭按钮 */
        #nav:target .open{
        display：none；
    }
    
    #nav:target .close{
        display: inline-block;
    }


    /* 初始状态隐藏导航 */
    #nav{
        display: none;
    }

    /* 导航为目标状态时的样式 */
    #nav:target{
        display: block;
        position: absolute;
        top: 0;
        padding-top: 34px;
        width: 100%;
    }
    
    /* 目标状态下的导航 ul 标签 */
    #nav:target ul.nav-bar-profile{
        background:none;
    }

    /* 目标状态下导航 li 和 a */
    #nav:target li, #nav:target li a{
        display: block;
        color: #eeeeee;
        text-align: left;
    }

    /* 目标状态下的导航列表下的a标签的悬停样式 */
    #nav:target li a:hover{
        color: black;
    }

    /* 目标状态下导航的激活状态样式 */
    #nav:target .active{
        color:black;
    }

}